#Python bytecode files
backend/mysite/banking/__pycache__/
backend/mysite/banking/*.py[cod]
backend/mysite/banking/*$py.class

backend/mysite/mysite/__pycache__/
backend/mysite/mysite/*.py[cod]
backend/mysite/mysite/*$py.class